.form-fields {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.form-fields .form-field__item {
    margin-right: 20px;
}

.form-field__item:last-child {
    margin-right: 0;
}
